[PATCH] If-Modified-Since and If-Unmodified-Since do not work correctly

Originally reported by: **guest (Bitbucket: [guest](http://bitbucket.org/guest), GitHub: [guest](http://github.com/guest))**

---

If-Modified-Since only returns "304 Not Modified" if Last-Modified exactly matches it. This works for static file serving.

It doesn't work for a more general REST-based web app, when the If-Modified-Since does not exactly match, but is instead a date in the future relative to Last-Modified.

Vice-versa for If-Unmodified-Since.

This breaks a SHOULD clause in RFC2622 section 14.25 and a MUST clause in section 14.28.

---
- Bitbucket: https://bitbucket.org/cherrypy/cherrypy/issue/976
