Unicode in staticdir file names

Originally reported by: **Anonymous**

---

When using CherryPy on a filesystem that supports Unicode in its filenames, CherryPy does not decode URLs according to RFC3986 §2.5 'Identifying Data'.

The RFC states:

"When a new URI scheme defines a component that represents textual data consisting of characters from the Universal Character Set [UCS], the data should first be encoded as octets according to the UTF-8 character encoding [STD63]; then only those octets that do not correspond to characters in the unreserved set should be percent-encoded."

Note that the RFC only stipulates this requirement for 'new' URI schemes (those defined after January 2005), so CherryPy is not technically in error for not decoding HTTP URIs in this way. CherryPy does not decode URLs from UTF-8 when serving files from the 'staticdir' directive.

However for greater compatibility I propose the following changes to lib/static.py in the 'serve_file' function (line 37):

```
if os.path.supports_unicode_filenames:
  path = unicode(path, 'UTF-8')
```

---
- Bitbucket: https://bitbucket.org/cherrypy/cherrypy/issue/1150
