cherrypy advertises with HTTP compliance

Originally reported by: **space one (Bitbucket: [spaceone](http://bitbucket.org/spaceone), GitHub: [spaceone](http://github.com/spaceone))**

---

"""A reliable, HTTP/1.1-compliant, WSGI thread-pooled webserver.""" cherrypy.org

RFC 2616 Section 1.2 Requirements
says

"""An implementation is not compliant if it fails to satisfy one or more
   of the MUST or REQUIRED level requirements for the protocols it
   implements."""

→ The advertisement is a lie

---
- Bitbucket: https://bitbucket.org/cherrypy/cherrypy/issue/1291
